.popup-overlay { 

display: none; 
position: fixed; 
margin: 0 auto; 
left: 0; 
top: 0; 
right: 0; 
bottom: 0; 
background-color: rgb(165, 197, 40); 
z-index: 100; 
} 


.popWindow{ 
display: none; 
background-color: #15d600; 
color: #fff; 
width: 70%; 
max-width: 500px; 
padding: 40px 30px; 
position: absolute; 
top: 50%; 
left: 50%; 
margin-left: -360px; 
margin-top: -185px; 
text-align: center; 
box-shadow: 0 0 30px rgb(215, 180, 0); 
} 

@media only screen and (max-width : 800px) { 
.popWindow { 
margin-left: -45%; 
} 
} 

.close-btn { 
position: absolute; 
top: 0; 
right: 0; 
font-size: 40px; 
line-height: 20px; 
cursor: pointer; 
color: rgb(207, 0, 0); 
padding: 13px; 
} 

.subscribe_window .subcsribe-text { 
font-size: 15px; 
text-align: center; 
text-transform: none; 
color: #fff; 
margin: 0 0 40px; 
position: relative; 
padding: 0 50px; 
z-index: 10; 
} 

.subscribe_window .req-fields { 
color: #4f0000; 
text-align: left; 
} 

.subscribe-form { 
width: 100%; 
max-width: 400px; 
margin: 0 auto; 
} 
.subscribe-form div { 
position: relative; 
} 
.subscribe-form input { 
border: 1px solid #833030e6; 
width: 100%; 
font-family: "Arial", sans-serif; 
font-size: 14px; 
line-height: 32px; 
padding: 5px 20px; 
margin-bottom: 15px; 
outline: none; 
background: #a1a100; 
color: #fff; 
border-radius: 4px; 
} 

.dacc{ 
display: inline-block; 
} 

#accept{ 
border: 1px solid #fefa00; 

font-family: "Arial", sans-serif; 
font-size: 16px; 
line-height: 32px; 
padding: 5px 20px; 
margin-bottom: 25px; 
outline: none; 
background: #a1a100; 
color: #fff; 
border-radius: 4px; 
} 

.md{ 
position: relative; 
} 

.message { 
border: 1px solid#fefa00; 
width: 100%; 
font-family: "Arial", sans-serif; 
font-size: 16px; 
line-height: 32px; 
padding: 5px 20px; 
margin-bottom: 20px; 
outline: none; 
background: #a1a100; 
color: #fff; 
border-radius: 4px; 
} 

.subscribe-form textarea{ 
border: 1px solid #fefa00; 
width: 100%; 
font-family: "Arial", sans-serif; 
font-size: 16px; 
line-height: 32px; 
padding: 5px 20px; 
margin-bottom: 20px; 
outline: none; 
background: #fefa00; 
color: #fff; 
border-radius: 4px; 
} 
.btn { 
color: #ffffe3; 
background-color: #15cf00; 
padding: 10px 50px; 
text-align: center; 
font-size: 13px; 
border: 1px solid #15cf00; 
box-shadow: none; 
display: inline-block; 
text-transform: none; 
text-decoration: none; 
display: inline-block; 
-webkit-transition: opacity 0.2s linear; 
cursor: pointer; 
/*-webkit-transition: 0.4s; 
transition: 0.4s;*/ 
} 
.btn:hover, .btn:focus { 
background-color:#9eb909fe; 
color: #fff; 
text-decoration: none; 
} 
.subscribe-form .btn { 
font-size: 24px; 
line-height: 54px; 
border: none; 
width: 110%; 
padding: 10px; 
font-weight: 700; 
text-align: center; 
outline: none; 
border-radius: 4px; 
} 
.subscribe-form .btn:hover { 
/* background-color: rgb(130, 57, 178);*/ 
} 
.subscribe-form .btn i { 
font-size: 28px; 
margin-right: 7px; 
} 
.subscribe-form label { 
color: #fff; 
position: absolute; 
top: 12px; 
left: 20px; 
/*-webkit-transition: 0.28s; 
transition: 0.28s;*/ 
} 
.ss { 
color: #fff; 
position: absolute; 
top: 12px; 
left: 20px; 
} 

.subscribe-form label span { 
color: #0026ff; 
} 
.subscribe-form input:focus + label { 
left: -62px; 
font-size: 12px; 
} 
.subscribe-form input:invalid { 
box-shadow: none; 
} 
.subscribe-form input:valid { 
border: 1px solid #0029f8; 
} 
.subscribe-form input:valid + label { 
left: -62px; 
font-size: 12px; 
} 
.subscribe-form input:invalid:not(:focus):not(:placeholder-shown) { 
border: 1px solid #6e0700; 
} 
.subscribe-form input:invalid:not(:focus):not(:placeholder-shown) + label { 
left: -62px; 
font-size: 12px; 
} 
@media only screen and (max-width : 480px) { 
.subscribe_window{ 
top: 5%; 
margin-top: 0; 
} 
.subscribe_window .subcsribe-text{ 
padding: 0; 
} 
.subscribe-form input:focus + label{ 
left: 20px; 
top: -18px; 
} 
.subscribe-form input:valid + label{ 
left:

20px; 
top: -18px; 
} 
.subscribe-form input:invalid:not(:focus):not(:placeholder-shown) + label{ 
left: 20px; 
top: -18px; 
} 
} 


.thank_you_window .thank_you_title { 
font-family: "Titillium Web", sans-serif; 
color: #fff; 
font-size: 32px; 
line-height: 50px; 
font-weight: 700; 
margin-bottom: 10px; 
} 
.thank_you_window .thank_you_body { 
font-family: "Titillium Web", sans-serif; 
color: #fff; 
font-size: 24px; 
font-weight: 400; 
}